@import './mixin';
@import './variables';


* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
a {
    display: block;
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
}
[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

%btn {  
    width: 153px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $colorWhite;
    text-transform: uppercase;
    @include font(12px, #1b1b1b, 600);
    border: 2px solid #fcdb5a;

    cursor: pointer;
    outline: none;
    background-color: #fcdb5a;
    transition: background-color .25s ease-in-out;

    &:hover {
        background-color: transparent;
        color: #4f4a37;
    }
}

/* header xs */
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    width: 100%;

    .row {
        display: flex;
    }
    .header-row {
        flex-direction: row;
        align-items: center;

        .logo-link {
            display: block;
            margin-bottom: -25px;
            position: relative;
            z-index: 6;

            .logo-img {
                width: 70px;
            }
        }
        .menu {
            display: flex;
            align-items: flex-end;

            nav {
                display: flex;
                padding-bottom: 1px;

                .menu-list {
                    display: flex;

                    .menu-link {
                        font-family: $fontOpenSans;
                        color: $colorWhite;
                        font-size: 14px;
                        padding-left: 15px;
                        padding-right: 15px;
                        padding-bottom: 43px;
                        outline: none;
                        border-bottom: 2px solid transparent;
                        display: block;

                        &:hover {
                            border-bottom: 2px solid #fcdb5a;
                        }
                    }
                }
            }
        }
        .header__btn {
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .get-in-touch-btn {
                @extend %btn;
                display: none;
                margin-left: auto;
            }
        }
    }
}

// section start-screen

.start-screen {
    background-image: url(../images/bg-gallery.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    padding-top: 170px;
    padding-bottom: 100px;

    .title-h1 {
        @include font(35px, #ffffff, 100);
        text-transform: uppercase;
        margin-bottom: 20px;

        .font-bold {
            font-size: 50px;
            font-weight: 900;
        }
    }
    p {
        @include font(14px, #ffffff, 400, 1.5);
    }
}

// section gallery

.gallery {
    padding: 70px 0;

    .gallery-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 35px;

        .gallery-item {
            margin: 10px 5px;

            .gallery-link {
                @include font(14px, #b3b3b3, 700);
                padding: 5px;

                &:hover {
                    color: #333;
                }
            }
        }
    }
    .gallery-images-row {
        .gallery-images-item {
            height: 290px;
            position: relative;
            margin-bottom: 30px;
            overflow: hidden;
            
            &:hover .gallery-images-hover {
                opacity: 1;
            }
            &:hover .gallery-images-content {
                opacity: 1;
            }
            &:hover .gallery-img {
                transform: scale(1.2);
                transition: 0.5s ease-in-out;
            }
            .gallery-img {
                width: 100%;
                height: 290px;
                object-fit: cover;
            }
            .gallery-images-hover {
                background-color: rgba(51,51,51,0.9);
                margin: auto;
                @include positionAbsolute();
                opacity: 0;
                transition: 0.5s ease-in-out;
            }
            .gallery-images-content {
                padding: 30px;
                position: absolute;
                bottom: 0;
                left: 0;
                opacity: 0;
                transition: 0.5s ease-in-out;

                h5 {
                    @include font(20px, #ffffff, 900, 1.2);
                    margin-bottom: 10px;
                    text-transform: uppercase;
                }
                p {
                    @include font(14px, #b3b3b3);
                }
            }
            .gallery-images-link {
                @include positionAbsolute();
            }
        }
    }
    .gallery__btn {
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .more-images-btn {
            @extend %btn;
        }
    }
}


/* adaptation */

@media(max-width:767px) {
    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            flex:0 0 percentage($i/12);
            max-width: percentage($i/12);
        }
    }
    .container {
       @include containerPadding15px();
       width: 100%;
    }
}

@media(min-width:426px) {
    .container {
        @include containerPadding50px();
    }
}

@media(min-width:768px) {
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            flex:0 0 percentage($i/12);
            max-width: percentage($i/12);
        }
    }
    .container {
        max-width: 720px;
    }

    // section start-screen sm

    .start-screen {
        padding-top: 200px;

        .title-h1 {
            font-size: 45px;

            .font-bold {
                font-size: 65px;
            }
        }
    }

    // section gallery

    .gallery-images-row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media(min-width:992px) {
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            flex:0 0 percentage($i/12);
            max-width: percentage($i/12);
        }
    }
    .container {
        max-width: 960px;
        @include containerPadding15px();
    }
    .header {
        .row {
            flex-direction: row;
            .logo {
                .logo-link {
                    .logo-img {
                        width: 100px;
                    }
                }
            }
            .menu {
                align-self: flex-end;
            }
            .header__btn {
                .get-in-touch-btn {
                    display: flex;
                    align-self: center;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    .gallery {
        .gallery__btn {
            margin-top: 40px;
        }
    }
}

@media(min-width:1200px) {
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            flex:0 0 percentage($i/12);
            max-width: percentage($i/12);
        }
    }
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
    .container-fluid {
        max-width: 1380px;
        margin: 0 auto;
    }
}

/* only mobile */

/* mobile-menu */
@media(max-width:991px) {
    .header {
        .header-row {
            .menu {
                display: flex;
                justify-content: flex-end;
        
                .nav-mobile-menu {
                    width: 21px;
                    height: 21px;
                    position: relative;
                    z-index: 6;
        
                    span {
                        height: 3px;
                        background-color: $colorWhite;
                        position: absolute;
                        left: 0;
                        right: 0;
                        transition: .25s ease-in-out;
        
                        &:nth-child(1) {
                            top: 1px;
                        }
                        &:nth-child(2) {
                            top: 9px;
                        }
                        &:nth-child(3) {
                            bottom: 1px;
                        }
                    }
                }
                .hidden-menu {
                    opacity: 0;
                    visibility: hidden;
                }
                .navigation {
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: fixed;
                    transform: translateX(150%);
                    transition: all 500ms ease-in-out;
                    padding: 50px;
                    background-image: url(../images/bg-gallery-mobile-menu2.jpg);
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-position: 65% 40%;
                    justify-content: center;
        
                    .menu-list {
                        height: 100%;
                        flex-direction: column;
                        justify-content: center;
                        padding-right: 80px;
                
                        .menu-item {
                            display: flex;
                            padding: 8px;
                
                            .menu-link {
                                font-size: 24px;
                                padding: 3px;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .active-menu {
                    span {
                        &:nth-child(1) {
                            top: 50%;
                            transform: rotate(225deg);
                        }
                        &:nth-child(2) {
                            top: 50%;
                            transform: rotate(-225deg);
                        }
                        &:nth-child(3) {
                            transform: scale(0);
                        }
                    }
                }
                .active-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translateX(0);
                    z-index: 5;
                }
            }
        }
    }
}





