/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
a {
    display: block;
}
img {
    display: block;
    width: 100%;
}
/* header xs */
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: absolute;
    width: 100%;
}
.header-row {
    flex-direction: row;
    align-items: center;
}
.logo-link {
    display: block;
    margin-bottom: -25px;
    position: relative;
    z-index: 6;
}
.logo-img {
    width: 70px;
}
.menu {
    display: flex;
    align-items: flex-end;
}
nav {
    display: flex;
    padding-bottom: 1px;
}
.menu-list {
    display: flex;
}
.menu-item {
}
.menu-link {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 43px;
    outline: none;
    border-bottom: 2px solid transparent;
    display: block;
}
.menu-link:hover {
    border-bottom: 2px solid #fcdb5a;
}
.header__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.btn {
    width: 153px;
    height: 45px;
    border-radius: 22.5px;
    text-transform: uppercase;
    font-size: 12px;
    cursor: pointer;
    outline: none;
    transition: background-color .25s ease-in-out;
    font-weight: 600;
}
.get-in-touch-btn {
    background-color: #ffffff;
    color: #1b1b1b;
    /* margin-left: auto; */
    display: none;
}
.get-in-touch-btn:hover {
    background-color: #fcdb5a;
    color: #4f4a37;
}
/* home xs */
.home{
    background-image: url(images/bg-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;

}
.title-h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: #ffffff;
    padding: 100px 0;
}
/* awesome */
.awesome {
    margin-top: -900px;
}
.awesome-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.awesome-item {
    width: 100%;
}
.item {
    position: relative;
    height: 280px;
    overflow: hidden;
}
.item-vertical {
    height: 560px;
}
.item:hover .awesome-img {
    transform: scale(1.2);
    transition: all 1s ease;
}
.awesome-img {
    object-fit: cover;
    height: 280px;
}
.awesome-img-vertical {
    height: 560px;
}
.awesome-item__content {
    position: absolute;
    padding: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.awesome-link {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: flex-end;
}
.awesome-gold-link {
    align-items: center;
    justify-content: center;
}
.awesome-item-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}
.gold-font {
    color: #fcdb5a;
    font-size: 40px;
}
.bold-font {
    font-weight: 900;
}

/* slogan xs*/
.section-padding {
    padding-top: 70px;
    padding-bottom: 70px;
}
.slogan-row {
    flex-direction: column;
}
.slogan-text {
    margin-top: 35px;
}
.slogan-title {
    font-family: 'Dancing Script', cursive;
    font-size: 47px;
    line-height: 1.2;
}
.slogan-title span:first-child {
    color: #fcdb5a;
}
.slogan-title span:nth-child(2) {
    color: #db2985;
}
.slogan-title span:nth-child(3) {
    color: #72aa41;
}
.slogan-title span:nth-child(4) {
    color: #f2a137;
}
.slogan-title span:nth-child(5) {
    color: #4fb1c9;
}
/* services xs */
.services {
    padding-bottom: 20px;
}
.section-title {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}
.title__h2 {
    font-size: 39px;
    font-weight: 100;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
}
.dark-h2 {
    color: #333333;
}
.section-discription {
    font-family: 'Open Sans', sans-serif;
    color: #b3b3b3;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.3;
    text-align: center;
    margin-top: 25px;
}
.services-row {
    display: flex;
    flex-wrap: wrap;
}
.services-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    padding: 0 10px;
}
.service-img {
    width: auto;
    height: 55px;
    margin-bottom: 20px;
}
.title__h5 {
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}
/* for-you */
.for-you {
    position: relative;
    padding-top: 70px;
    padding-bottom: 160px;
}
.section-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 0;
    z-index: -1;
}
.light-h2 {
    color: #ffffff;
}
.section-title-left .title__h2 {
    text-align: left;
}
.for-you-discription {
    font-family: 'Open Sans', sans-serif;
    color: #c5c5c5;
    font-size: 14px;
    line-height: 1.64;
    margin-top: 30px;
}
.discover-btn {
    background-color: #fcdb5a;
    color: #4f4a37;
    border: 2px solid #fcdb5a;
    margin-top: 25px;
}
.discover-btn:hover {
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #fcdb5a;
}
/* recipes xs */
.recipes {
    margin-top: -120px;
    padding-bottom: 70px;
}
.recipes-item-row, .recipes-item-reverse-row {
    flex-direction: column;
}
.recipes-item-content {
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffffff;
}
.recipes-discription {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 14px;
    line-height: 1.64;
    margin-top: 25px;
}
/* people-says xs */
.people-says {
    position: relative;
}
.swiper-container {
    width: 100%;
    padding-bottom: 50px;
}
.rewiew-symbol {
    margin-top: -25px;
    display: none;
}
.rewiew-symbol span{
    font-family: "Times New Roman";
    color: #fcdb5a;
    font-size: 100px;
    font-weight: 700;
}
.swiper-slide {
    cursor: pointer;
}
.slide-discription {
    font-family: "Times New Roman";
    color: #ffffff;
    font-size: 25px;
    line-height: 1.2;
    font-style: italic;
}
.swiper-pagination {
    text-align: end;
}
.swiper-pagination-bullets {
    bottom: 0;
}
.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 2px solid #ffffff;
}
.swiper-pagination-bullet-active {
    background-color: #fcdb5a;
    border-color: #fcdb5a;
}
.rewiew-author {
    display: flex;
    align-items: center;
    margin-top: 30px;
}
.rewiew-author__img {
    border-radius: 50%;
    overflow: hidden;
    margin-right: 22px;
}
.rewiew-author__title {
    display: flex;
    flex-direction: column;
}
.rewiew-author__title span{
    color: #ffffff;
    font-size: 18px;
    line-height: 1.2;
}

/* adaptation */

@media(min-width:375px) {

}

@media(min-width:576px) {
    .title-h1 {
        font-size: 130px;
    }
    .rewiew-author__title {
        flex-direction: row;
    }
}

/* tablet sm*/
@media(min-width:768px) {
    /* home min 768 */
    .title-h1 {
        font-size: 200px;
        padding: 150px 0;
    }
    /* awesome min 768 */
    .awesome-row {
        position: relative;
    }
    .awesome-item {
        position: absolute;
    }
    .awesome-item:nth-child(1) {
        position: static;
    }
    .awesome-item:nth-child(2) {
        left: 33.33%
    }
    .awesome-item:nth-child(3) {
        left: 66.66%
    }
    .awesome-item:nth-child(4) {
        left: 33.33%;
        top: 280px;
    }
    .awesome-item:nth-child(5) {
        left: 66.66%;
        top: 280px;
    }
    /* slogan min 768 */
    .section-padding {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .slogan-title {
        font-size: 80px;
    }
    /* services min 768 */
    .services {
        padding-bottom: 50px;
    }
    /* for-you min 768 */
    .for-you {
        padding-top: 100px;
        padding-bottom: 100px;
    }
    /* recipes min 768 */
    .recipes {
        margin-top: -60px;
        padding-bottom: 100px;
    }
    .recipes-item-row {
        flex-direction: row;
    }
    .recipes-item-reverse-row {
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .recipes-item-content {
        padding: 30px;
    }
    /* people-says min 768 */
    .swiper-slide {
        padding-left: 5px;
        padding-right: 5px;
    }
    .rewiew-symbol {
        display: block;
    }
}

/* laptop md*/
@media(min-width:992px) {
    /* header min 992 */
    .logo-img {
        width: 100px;
    }
    .menu {
        align-self: flex-end;
    }
    .get-in-touch-btn {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    /* slogan min 992*/
    .slogan-row {
        flex-direction: row;
    }
    .slogan-img {
        width: 120%;
    }
    .slogan-text {
        margin-top: 0px;
    }
    /* services min 992 */
    .services {
        padding-bottom: 90px;
    }
    /* for-you min 992 */
    .for-you{
        padding-bottom: 150px;
    }
    /* recipes min 992 */
    .recipes-item-content {
        padding: 15px;
    }

}

/* desctop lg*/
@media(min-width:1200px) {
    .title-h1 {
        padding: 200px 0;
    }
    .awesome-body {
        padding-bottom: 300px;
    }
    /* slogan min 1200 */
    .slogan-title {
        font-size: 95px;
    }
}

/* only mobile max 992*/

/* mobile-menu */
@media(max-width:991px) {

    .menu {
        display: flex;
        justify-content: flex-end;
    }
    .nav-mobile-menu {
        width: 21px;
        height: 21px;
        position: relative;
        z-index: 6;
    }
    .nav-mobile-menu span {
        height: 3px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        right: 0;
        transition: .25s ease-in-out;
    }
    .nav-mobile-menu span:nth-child(1) {
        top: 1px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 9px;
    }
    .nav-mobile-menu span:nth-child(3) {
        bottom: 1px;
    }
    .hidden-menu {
        opacity: 0;
        visibility: hidden;
    }
    .navigation {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: fixed;
        transform: translateX(150%);
        transition: all 500ms ease-in-out;
        padding: 50px;
        background-image: url(images/bg-home-mobile-menu.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 60% 40%;
        justify-content: center;
    }
    .nav-mobile-menu.active-menu span:nth-child(1) {
        top: 50%;
        transform: rotate(225deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        transform: rotate(-225deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(3) {
        transform: scale(0);
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        z-index: 5;
    }
    .menu-list {
        height: 100%;
        flex-direction: column;
        justify-content: center;
        padding-right: 80px;
    }
    .menu-item {
        display: flex;
        padding: 8px;
    }
    .menu-link {
        font-size: 24px;
        padding: 3px;
        text-transform: uppercase;
    }
}