/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Open Sans', sans-serif; */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Raleway', sans-serif;
}
a {
    display: block;
}
img {
    display: block;
    width: 100%;
}
/* header xs */
.header {
    /* height: 57px; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    position: relative;
}
.logo-link {
    display: block;
    margin-bottom: -25px;
}
.logo-img {
    width: 50px;
}
.menu {
    display: flex;
    align-items: flex-end;
    overflow-x: auto;
}
nav {
    display: flex;
    padding-bottom: 1px;
}
.menu-list {
    display: flex;
}
.menu-item {
}
.menu-link {
    font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 43px;
    outline: none;
    border-bottom: 2px solid transparent;
    display: block;
}
.menu-link:hover {
    border-bottom: 2px solid #fcdb5a;
}
.header__btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.get-in-touch-btn {
    width: 153px;
    height: 45px;
    border-radius: 22.5px;
    background-color: #ffffff;
    text-transform: uppercase;
    color: #1b1b1b;
    font-size: 12px;
    font-weight: 600;
    margin-left: auto;
    cursor: pointer;
    outline: none;
    transition: background-color .25s ease-in-out;
    display: none;
}
.get-in-touch-btn:hover {
    background-color: #fcdb5a;
    color: #4f4a37;
}
/* home xs */
.home{
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70% 0;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -61px;
    height: 1700px;
}
.title-h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 90px;
    color: #ffffff;
    margin: 100px 0;
}
/* awesome */
.awesome {
    margin-top: -900px;
}
.awesome-row {
    flex-direction: row;
    flex-wrap: wrap;
}
.awesome-item {
    width: 100%;
}
.item {
    position: relative;
    height: 280px;
}
.item-vertical {
    height: 560px;
}
.awesome-img {
    object-fit: cover;
    height: 280px;
}
.awesome-img-vertical {
    height: 560px;
}
.awesome-item__content {
    position: absolute;
    padding: 30px;
    bottom: 0;
    left: 0;
}
.awesome-item-title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 100;
    text-transform: uppercase;
}
.awesome-bold {
    font-weight: 900;
}
/* adaptation */

@media(min-width:375px) {

}

@media(min-width:576px) {
    .home {
    }
    .title-h1 {
        font-size: 130px;
    }
    /* .awesome-item {
        flex: 0 0 50%;
        max-width: 50%;
    } */
}

/* tablet sm*/
@media(min-width:768px) {
    /* home sm */
    .home {
    }
    .title-h1 {
        font-size: 200px;
        margin: 200px 0;
    }
    /* awesome sm */
    .awesome-row {
        position: relative;
    }
    .awesome-item {
        position: absolute;
    }
    .awesome-item:nth-child(2) {
        left: 33.33%
    }
    .awesome-item:nth-child(3) {
        left: 66.66%
    }
    .awesome-item:nth-child(4) {
        left: 33.33%;
        top: 280px;
    }
    .awesome-item:nth-child(5) {
        left: 66.66%;
        top: 280px;
    }

}

/* laptop md*/
@media(min-width:992px) {
    .header {
    }
    .logo-img {
        width: 100px;
    }
    .menu {
    }
    .menu-link {
    }
    .get-in-touch-btn {
        display: flex;
        align-self: center;
        justify-content: center;
        align-items: center;
    }
    /* home min 992px */
    .home {
        margin-top: -109px;
    }
}

/* desctop lg*/
@media(min-width:1200px) {
}